.App {
  text-align: left;
  padding: 0.5em;
}
.stats,
.skill-group {
  background-color: #bbe;
}
.stats,
.skills {
  margin: 0.5em 0;
/*   background-color: #bbe; */
  width: 100%;
}
.stat-selector{
  display: flex;
}
.skills span,
.stats span {
  flex-grow: 1;
}
.bage {
  display: inline-block;
  margin: 0.2em 0.5em;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skill-group {
  margin: 0 1em 1em 0;
  padding: 4px;
  min-width: 150px;
/*   max-width: 400px; */
}
.skill-group-name {
  background-color: #aae;
}